<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Задание - My Docs</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">My Docs</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../.." class="nav-link">Отчеты к лабораторным работам</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab1 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../lab1/task1/" class="dropdown-item">Задание 1</a>
</li>
                                    
<li>
    <a href="../../lab1/task2/" class="dropdown-item">Задание 2</a>
</li>
                                    
<li>
    <a href="../../lab1/task3/" class="dropdown-item">Задание 3</a>
</li>
                                    
<li>
    <a href="../../lab1/task4/" class="dropdown-item">Задание 4</a>
</li>
                                    
<li>
    <a href="../../lab1/task5/" class="dropdown-item">Задание 5</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab2 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../lab2/task/" class="dropdown-item">Задание</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab3 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../lab3/main/" class="dropdown-item">Задание</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Assignments</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/assignments/create/" class="dropdown-item">Добавление нового закрепления книги</a>
</li>
            
<li>
    <a href="../../lab3/assignments/info/" class="dropdown-item">Показать информацию о закреплении книгах</a>
</li>
            
<li>
    <a href="../../lab3/assignments/list/" class="dropdown-item">Показать информацию обо всех закреплениях книг</a>
</li>
            
<li>
    <a href="../../lab3/assignments/update/" class="dropdown-item">Изменение информации о закреплении книги</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Auth</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/auth/token/" class="dropdown-item">Создание токена для пользователя</a>
</li>
            
<li>
    <a href="../../lab3/auth/users/" class="dropdown-item">Регистрация нового пользователя</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Books</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/books/create/" class="dropdown-item">Добавление новой книги</a>
</li>
            
<li>
    <a href="../../lab3/books/info/" class="dropdown-item">Показать информацию о книге</a>
</li>
            
<li>
    <a href="../../lab3/books/list/" class="dropdown-item">Показать информацию обо всех книгах</a>
</li>
            
<li>
    <a href="../../lab3/books/update/" class="dropdown-item">Изменение информации о книге</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Copys</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/copys/create/" class="dropdown-item">Добавление новой копии</a>
</li>
            
<li>
    <a href="../../lab3/copys/info/" class="dropdown-item">Показать информацию о копии книги</a>
</li>
            
<li>
    <a href="../../lab3/copys/list/" class="dropdown-item">Показать информацию обо всех копиях</a>
</li>
            
<li>
    <a href="../../lab3/copys/update/" class="dropdown-item">Изменение информации о копии</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Halls</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/halls/create/" class="dropdown-item">Добавление нового зала</a>
</li>
            
<li>
    <a href="../../lab3/halls/info/" class="dropdown-item">Показать информацию о зале</a>
</li>
            
<li>
    <a href="../../lab3/halls/list/" class="dropdown-item">Показать информацию обо всех залах</a>
</li>
            
<li>
    <a href="../../lab3/halls/update/" class="dropdown-item">Изменение информации о зале</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Readers</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../lab3/readers/create/" class="dropdown-item">Добавление новом читателе</a>
</li>
            
<li>
    <a href="../../lab3/readers/info/" class="dropdown-item">Показать информацию о читателе</a>
</li>
            
<li>
    <a href="../../lab3/readers/list/" class="dropdown-item">Показать информацию обо всех читателях</a>
</li>
            
<li>
    <a href="../../lab3/readers/update/" class="dropdown-item">Изменение информации о читателе</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab4 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="./" class="dropdown-item active">Задание</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pw3.1 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../pw3.1/tasks/" class="dropdown-item">Практическая 3.1</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../../lab3/readers/update/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../../pw3.1/tasks/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#_1" class="nav-link">Задание</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            
            <li class="nav-item" data-level="1"><a href="#_2" class="nav-link">Решение</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#_3" class="nav-link">Компоненты</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="_1">Задание</h1>
<p>Реализация клиентской части приложения средствами vue.js.</p>
<h1 id="_2">Решение</h1>
<p>main.js</p>
<pre><code>import './assets/main.css'

import { createApp } from 'vue'
import App from './App.vue'
import router from './router'

const app = createApp(App)

app.use(router)

app.mount('#app')
</code></pre>
<p>services/api.js</p>
<pre><code>import axios from 'axios'

const api = axios.create({
    baseURL: 'http://127.0.0.1:8000/api',
    headers: {
        'Content-Type': 'application/json'
    }
})

export default api;
</code></pre>
<p>router/index.js</p>
<pre><code>import { createRouter, createWebHistory } from 'vue-router'
import HomeView from '../views/HomeView.vue'
import RegistrationView from '../views/RegistrationView.vue'
import BooksView from '../views/BooksView.vue'
import RandomBookView from '../views/RandomBookView.vue'
import NewBookComponent from '../components/NewBook.vue'
import LoginComponent from '../components/Login.vue'
import LogoutComponent from '../components/Logout.vue'
import ReadersComponent from '../components/AllReaders.vue'
import NewReaderComponent from '../components/NewReader.vue'
import AssignmentsComponent from '../components/AllAssignments.vue'
import AssignmentDetailsComponent from '../components/AssignmentDetails.vue'
import EditAssignmentComponent from '../components/EditAssignment.vue'
import NewAssignmentComponent from '../components/NewAssignment.vue'
import HallsComponent from '../components/AllHalls.vue'
import NewHallComponent from '../components/NewHall.vue'
import CopiesComponent from '../components/AllCopies.vue'
import NewCopyComponent from '../components/NewCopy.vue'

const router = createRouter({
  history: createWebHistory(import.meta.env.BASE_URL),
  routes: [
    {
      path: '/registration',
      name: 'registration',
      component: RegistrationView
    },
    {
      path: '/books',
      name: 'books',
      component: BooksView
    },
    {
      path: '/books/random',
      name: 'randombook',
      component: RandomBookView
    },
    {
      path: '/books/new',
      name: 'newBook',
      component: NewBookComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/login',
      name: 'login',
      component: LoginComponent,
    }, 
    {
      path: '/logout',
      name: 'logout',
      component: LogoutComponent,
    },
    {
      path: '/readers',
      name: 'readers',
      component: ReadersComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/readers/new',
      name: 'newReader',
      component: NewReaderComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/assignments',
      name: 'Assignments',
      component: AssignmentsComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/assignments/:assignmentId',
      name: 'AssignmentDetails',
      component: AssignmentDetailsComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/assignments/:assignmentId/edit',
      name: 'EditAssignment',
      component: EditAssignmentComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/halls',
      name: 'Halls',
      component: HallsComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/copies',
      name: 'Copies',
      component: CopiesComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/assignments/new',
      name: 'newAssignment',
      component: NewAssignmentComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/halls/new',
      name: 'newHall',
      component: NewHallComponent,
      meta: { requiredAuth: true },
    },
    {
      path: '/copies/new',
      name: 'newCopy',
      component: NewCopyComponent,
      meta: { requiredAuth: true },
    },
  ]
});

router.beforeEach((to, from, next) =&gt; {
  if (to.meta.requiredAuth &amp;&amp; !localStorage.getItem('token')) {
    next('/login');
  }
  else {
    next();
  }
})

export default router

</code></pre>
<h2 id="_3">Компоненты</h2>
<p>Registration.vue</p>
<pre><code>&lt;template&gt;
    &lt;div class=&quot;registraton_container&quot;&gt;
        &lt;h1&gt;Registration&lt;/h1&gt;
        &lt;form @submit=&quot;register&quot;&gt;
            &lt;label for=&quot;email&quot;&gt;Email:&lt;/label&gt;&lt;br&gt;
            &lt;input v-model=&quot;email&quot; type=&quot;text&quot; id=&quot;email&quot; name=&quot;email&quot;&gt;&lt;br&gt;
            &lt;label for=&quot;username&quot;&gt;Username:&lt;/label&gt;&lt;br&gt;
            &lt;input  v-model=&quot;username&quot; type=&quot;text&quot; id=&quot;username&quot; name=&quot;username&quot;&gt;&lt;br&gt;
            &lt;label for=&quot;password&quot;&gt;Password:&lt;/label&gt;&lt;br&gt;
            &lt;input  v-model=&quot;password&quot; type=&quot;text&quot; id=&quot;password&quot; name=&quot;password&quot;&gt;&lt;br&gt;
            &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import axios from 'axios';

export default {
    data() {
        return {
            email: '',
            username: '',
            password: ''
        }
    },
    methods: {
        register(event) {
            event.preventDefault();
            const userData = {
                email: this.email,
                username: this.username,
                password: this.password
            }

            axios.post('http://127.0.0.1:8000/api/auth/users/', userData)
                .then(response =&gt; {
                    localStorage.setItem('userData', JSON.stringify(formData));
                })
                .catch(error =&gt; {
                    // console.log(userData);
                    // console.log(error);
                    console.log('Something went wrong :(')
                })
        }
    }
}
&lt;/script&gt;


&lt;style scoped&gt;
    input {
        margin-bottom: 20px;
    }
&lt;/style&gt;
</code></pre>
<p>Login.vue</p>
<pre><code>&lt;template&gt;
    &lt;div&gt;
      &lt;h2&gt;Login&lt;/h2&gt;
      &lt;form @submit.prevent=&quot;login&quot;&gt;
        &lt;label for=&quot;username&quot;&gt;Username:&lt;/label&gt;
        &lt;input v-model=&quot;username&quot; type=&quot;text&quot; id=&quot;username&quot; required&gt;

        &lt;label for=&quot;password&quot;&gt;Password:&lt;/label&gt;
        &lt;input v-model=&quot;password&quot; type=&quot;password&quot; id=&quot;password&quot; required&gt;

        &lt;button type=&quot;submit&quot;&gt;Login&lt;/button&gt;
      &lt;/form&gt;
      &lt;router-link to=&quot;/registration&quot; class=&quot;link&quot;&gt;I don't have an account&lt;/router-link&gt;
    &lt;/div&gt;
  &lt;/template&gt;

  &lt;script&gt;
  import api from '@/services/api';

  export default {
    data() {
      return {
        username: '',
        password: '',
      };
    },

    methods: {
      login() {
        const credentials = {
          username: this.username,
          password: this.password,
        };

        api.post('auth/token', credentials)
          .then(response =&gt; {
            const token = response.data.token;
            localStorage.setItem('token', token);
            this.$router.push('/books');
          })
          .catch(error =&gt; {
            console.error('Login failed:', error);
          });
      },
    },
  };
  &lt;/script&gt;

&lt;style scoped&gt;
  .link {
    color: #fff;
    font-size: 17px;
  }

  form {
    margin-bottom: 20px;
  }
&lt;/style&gt;
</code></pre>
<p>Logout.vue</p>
<pre><code>&lt;template&gt;
    &lt;h2&gt;{{ username }}, are you sure you want to logout?&lt;/h2&gt;
    &lt;button @click=&quot;logout&quot;&gt;Yes&lt;/button&gt;
&lt;/template&gt;

&lt;script&gt;
    import api from '../services/api';
    import router from '../router';

    export default {
        data() {
            return {
                username: ''
            };
        },

        mounted() {
            const token = localStorage.getItem('token');
            if (!token) {
                router.push('/login');
                return;
            }
            api.get('auth/users/me/', {
                headers: {
                    Authorization: `Token ${token}`
                }
            })
            .then(response =&gt; {
                this.username = response.data.username;
                this.username = this.username.charAt(0).toUpperCase() + this.username.slice(1);
            })
            .catch(error =&gt; {
                console.error(error);
            })
        },

        methods: {
            logout() {
                localStorage.removeItem('token');
                this.$router.push('/login');
            }
        }
    }
&lt;/script&gt;
</code></pre>
<p>Navbar.vue</p>
<pre><code>&lt;template&gt;
    &lt;nav&gt;
        &lt;h1&gt;Navigation&lt;/h1&gt;
        &lt;ul&gt;
            &lt;li&gt;
            &lt;ul label=&quot;Books&quot;&gt;
                &lt;li&gt;&lt;router-link to=&quot;/books&quot;&gt;All Books&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/books/new&quot;&gt;Add new book&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/books/random&quot;&gt;Get random book&lt;/router-link&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;/li&gt;

            &lt;li&gt;
            &lt;ul label=&quot;Readers&quot;&gt;
                &lt;li&gt;&lt;router-link to=&quot;/readers&quot;&gt;All Readers&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/readers/new&quot;&gt;Add new reader&lt;/router-link&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;/li&gt;

            &lt;li&gt;
            &lt;ul label=&quot;Assignments&quot;&gt;
                &lt;li&gt;&lt;router-link to=&quot;/assignments&quot;&gt;All Assignments&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/assignments/new&quot;&gt;Add new assignment&lt;/router-link&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;/li&gt;

            &lt;li&gt;
            &lt;ul label=&quot;Halls&quot;&gt;
                &lt;li&gt;&lt;router-link to=&quot;/halls&quot;&gt;All Halls&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/halls/new&quot;&gt;Add new hall&lt;/router-link&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;/li&gt;

            &lt;li&gt;
            &lt;ul label=&quot;Copies&quot;&gt;
                &lt;li&gt;&lt;router-link to=&quot;/copies&quot;&gt;All Copies&lt;/router-link&gt;&lt;/li&gt;
                &lt;li&gt;&lt;router-link to=&quot;/copies/new&quot;&gt;Add new copy&lt;/router-link&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;h2&gt;&lt;router-link to=&quot;/logout&quot;&gt;Log out&lt;/router-link&gt;&lt;/h2&gt;
    &lt;/nav&gt;
&lt;/template&gt;

&lt;style scoped&gt;
    ul:before {
        content: attr(label);
        font-size: 120%;
        font-weight: bold;
        color: #000;
    }

    h1 {
        color: #000;
        padding-left: 20px;
    }

    nav {
        padding-right: 50px;
        background-color: #f0f0f0;
        line-height: 200%;
        margin-right: 75px;
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

    }

    ul {
        padding-inline-start: 10px;
    }
&lt;/style&gt;
</code></pre>
<h3 id="assignment">Компоненты для assignment</h3>
<p>AllAssignment.vue</p>
<pre><code>&lt;template&gt;
    &lt;h1&gt;All Assignments&lt;/h1&gt;
    &lt;hr/&gt;
    &lt;div v-for=&quot;assignment in Assignments&quot; :key=&quot;assignment.id&quot;&gt;
        &lt;h3&gt; {{ assignment.copy.book.name }}&lt;/h3&gt;
        &lt;h4&gt;{{ assignment.reader.surname }} {{ assignment.reader.name }}&lt;/h4&gt;
        &lt;br/&gt;
        &lt;button @click=&quot;pushRouter(assignment.id)&quot;&gt;Full assignemnt information&lt;/button&gt;
        &lt;hr/&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import api from '@/services/api'
import router from '@/router'

export default {
    data() {
        return {
            Assignments: [],
        }
    },

    methods: {
        pushRouter(id) {
            const url = '/assignments/' + id.toString();
            router.push(url);
        }
    },

    mounted () {
        api.get('/assignments/all')
                .then(response =&gt; {
                    this.Assignments = response.data;
                })
                .catch(error =&gt; {
                    console.error(error);
                })
    }
}
&lt;/script&gt;
</code></pre>
<p>AssignmentDetails.vue</p>
<pre><code>&lt;template&gt;
    &lt;div v-if=&quot;assignment&quot;&gt;
        &lt;h1&gt;Assignment Details&lt;/h1&gt;
        &lt;h3&gt;{{ assignment.copy.book.name }} {{ assignment.copy.book.author }}&lt;/h3&gt;
        &lt;h4&gt;Taken by: {{ assignment.reader.name }} {{ assignment.reader.surname }}&lt;/h4&gt;
        &lt;p&gt;Assigned: {{ assignment.date_assigned }}&lt;/p&gt;
        &lt;p v-if=&quot;assignment.date_returned&quot;&gt;Returned: {{ assignment.date_returned }}&lt;/p&gt;
        &lt;p v-else&gt;not returned yet&lt;/p&gt;

        &lt;button&gt;&lt;router-link :to=&quot;{name: 'EditAssignment', params: { assignmentId: $assignmentId } }&quot;&gt;Edit&lt;/router-link&gt;&lt;/button&gt;&lt;br&gt;&lt;br&gt;

        &lt;router-link to=&quot;/assignments&quot;&gt;Go back&lt;/router-link&gt;
    &lt;/div&gt;
    &lt;p v-else&gt;Loading ...&lt;/p&gt;
&lt;/template&gt;

&lt;script&gt;
import api from '@/services/api'

export default {
    data() {
        return {
            assignment: null,
            assignmentId: null,
        }
    },

    mounted() {
        this.assignmentId = this.$route.params.assignmentId;
        const url = '/assignments/' + this.assignmentId.toString();

        api.get(url)
        .then(response =&gt; {
            this.assignment = response.data;
        })
        .catch(error =&gt; {
            console.error(error);
        })
    }
}
&lt;/script&gt;
</code></pre>
<p>EditAssignment.vue</p>
<pre><code>&lt;template&gt;
    &lt;div&gt;
      &lt;h1&gt;Edit Assignment&lt;/h1&gt;
      &lt;form @submit.prevent=&quot;submitForm&quot;&gt;
        &lt;label&gt;Reader:&lt;/label&gt;&lt;br&gt;
        &lt;select v-model=&quot;selectedReader&quot;&gt;
            &lt;option v-for=&quot;reader in Readers&quot; :key=&quot;reader.id&quot; :value=&quot;reader.id&quot;&gt;
                {{ reader.name }} {{ reader.surname }}
            &lt;/option&gt;
        &lt;/select&gt;&lt;br&gt;&lt;br&gt;

        &lt;label&gt;Copy:&lt;/label&gt;&lt;br&gt;
        &lt;select v-model=&quot;selectedCopy&quot;&gt;
            &lt;option v-for=&quot;copy in Copies&quot; :key=&quot;copy.id&quot; :value=&quot;copy.id&quot;&gt;
                {{ copy.id }}. {{ copy.book.name }} by {{ copy.book.author }} 
            &lt;/option&gt;
        &lt;/select&gt;&lt;br&gt;&lt;br&gt;

        &lt;label for=&quot;dateAssigned&quot;&gt;Date Assigned:&lt;/label&gt;&lt;br&gt;
        &lt;input v-model=&quot;dateAssigned&quot; type=&quot;date&quot; id=&quot;dateAssigned&quot; /&gt;&lt;br&gt;&lt;br&gt;

        &lt;label for=&quot;dateReturned&quot;&gt;Date Returned:&lt;/label&gt;&lt;br&gt;
        &lt;input v-model=&quot;dateReturned&quot; type=&quot;date&quot; id=&quot;dateReturned&quot; /&gt;&lt;br&gt;&lt;br&gt;

        &lt;button type=&quot;submit&quot;&gt;Save changes&lt;/button&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/template&gt;

  &lt;script&gt;
  import api from '@/services/api';
  import router from '@/router';

  export default {
    data() {
        return {
            assignmentId: null,
            Readers: [],
            Copies: [],
            selectedReader: null,
            selectedCopy: null,
            dateAssigned: null,
            dateReturned: null,
        };
    },

    methods: {
        async fetchAssignment() {
            try {
                const assignmentId = this.$route.params.assignmentId;
                const url = '/assignments/' + assignmentId.toString();
                const response = await api.get(url);
                const assignment = response.data;
                console.log(response);

                this.selectedReader = assignment.reader.id;
                this.selectedCopy = assignment.copy.id;
                this.dateAssigned = assignment.date_assigned;
                this.dateReturned = assignment.date_returned;
            } catch (error) {
                console.error(error);
            }
        },

        submitForm() {
            const url = '/assignments/update/' + this.assignmentId.toString();

            const data = {
                reader: this.selectedReader,
                copy: this.selectedCopy,
                date_assigned: this.dateAssigned,
                date_returned: this.dateReturned,
            }

            console.log(data);

            api.patch(url, data)
            .then(response =&gt; {
                const to = '/assignments/' + this.assignmentId.toString();
                router.push(to);
            })
            .catch(error =&gt; {
                console.error(error);
            });
        },
    },

    mounted() {
        this.fetchAssignment();

        this.assignmentId = this.$route.params.assignmentId;
        api.get('/readers/all')
        .then(response =&gt; {
            this.Readers = response.data;
        })
        .catch(error =&gt; {
            console.error(error);
        });

        api.get('/copys/all')
        .then(response =&gt; {
            this.Copies = response.data;
        })
        .catch(error =&gt; {
            console.error(error);
        });
    },
  };
  &lt;/script&gt;
</code></pre>
<p>NewAssignment.vue</p>
<pre><code>&lt;template&gt;
    &lt;div class=&quot;new-assignment_container&quot;&gt;
        &lt;h1&gt;New Assignment&lt;/h1&gt;
        &lt;form @submit=&quot;addNewAssignment&quot;&gt;

            &lt;label&gt;Reader:&lt;/label&gt;&lt;br&gt;
            &lt;select v-model=&quot;reader&quot; id=&quot;reader&quot;&gt;
                &lt;option v-for=&quot;reader in readers&quot; :key=&quot;reader.id&quot; :value=&quot;reader.id&quot;&gt;{{ reader.name }} {{ reader.surname }}&lt;/option&gt;
            &lt;/select&gt;&lt;br&gt;&lt;br&gt;

            &lt;label&gt;Copy:&lt;/label&gt;&lt;br&gt;
            &lt;select v-model=&quot;copy&quot; id=&quot;copy&quot;&gt;
                &lt;option v-for=&quot;copy in copies&quot; :key=&quot;copy.id&quot; :value=&quot;copy.id&quot;&gt;{{ copy.book.name }} {{ copy.book.author }}&lt;/option&gt;
            &lt;/select&gt;&lt;br&gt;&lt;br&gt;

            &lt;label&gt;Date Assigned:&lt;/label&gt;&lt;br&gt;
            &lt;input v-model=&quot;dateAssigned&quot; id=&quot;dateAssigned&quot; type=&quot;date&quot;&gt;&lt;br&gt;

            &lt;label&gt;Date Returned:&lt;/label&gt;&lt;br&gt;
            &lt;input v-model=&quot;dateReturned&quot; id=&quot;dateReturned&quot; type=&quot;date&quot;&gt;&lt;br&gt;

            &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import api from '@/services/api';

export default {
    data() {
        return {
            copies: [],
            readers: [], 
            copy: null,
            reader: null,
            dateAssigned: null,
            dateReturned: null,
        }
    },
    methods: {
        addNewAssignment(event) {
            const userData = {
                reader: this.reader,
                copy: this.copy,
                date_assigned: this.dateAssigned,
                date_returned: this.dateReturned,
            }

            api.post('/assignments/new', userData)
            .then(response =&gt; {
                localStorage.setItem('formData', JSON.stringify(userData));
            })
            .catch(error =&gt; {
                console.error(error);
            })
        }
    },

    mounted () {
        api.get('/readers/all')
        .then(response =&gt; {
            this.readers = response.data;
        })
        .catch(error =&gt; {
            console.error(error);
        })

        api.get('/copys/all')
        .then(response =&gt; {
            this.copies = response.data;
        })
        .catch(error =&gt; {
            console.error(error);
        })
    }
}
&lt;/script&gt;

&lt;style scoped&gt;
    input {
        margin-bottom: 20px;
    }
&lt;/style&gt;
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/jquery-3.6.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
